html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.verticalspace{
  margin-top: 4vh;;
}
nav{
  width: 100%;
  /*background: #101010;*/
  background: transparent;
  color: #101010;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  min-height: 4vh;
  height: 5vh;
  align-items: center;
  z-index: 2020;
  font-family: 'Poppins', sans-serif;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 45%;
}
li{
  /*border: 1px solid #101010;*/
  /*border-radius: 5px;*/
  padding: 2px;
  /*text-align: center;*/
  /*float: left;*/
}
ul a{
  padding: 1px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #101010;
  letter-spacing: 5px;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}
.logo{
  color: #101010;
  text-transform: uppercase;
  padding: 0px;
  letter-spacing: 10px;
}
.logo a{
  padding: 1px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #101010;
  letter-spacing: 12px;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.title{
  font-family: sans-serif;
  font-size: 48px;
  color: #fff;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px #b34700;
}
#section1{
  height: 96vh;
  background-color: black;
  background-image: url('../img/castlefull.png');
  background-size: cover;
  background-position: center;
  display: table;
  width: 100%;
}
#section2{
  height: 700px;
  background: yellow;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#section3{
  height: 700px;
  background: red;
  display: inline-block;
  width: 100%;
}
#section4{
  height: 700px;
  background: green;
  display: inline-block;
  width: 100%;
}
#section5{
  height: 700px;
  background: blue;
  display: inline-block;
  width: 100%;
}
h1{
  margin: 100px;
  text-align: center;
  padding: 0;
}
/*hexagon*/
#container {
  width: 30px;
  height: 30px;
  position: relative;
  align-items: center;
}
#navi,
#infoi {
  //width: 100%;
  //height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#navi {
  color: #fff;
  display: block;
  width: 30px;
  font-size: 20px;
  left: 3px;
  top: 1px;
  margin: auto;
  z-index: 10;
  cursor: crosshair;
}
.hexagon {
  position: relative;
  width: 30px;
  height: 17.32px;
  background-color: #101010;
  margin: 2.89px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 8.66px solid #101010;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid #101010;
}
/*hexagon end*/
/*dice*/
button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  align-self: center;
  text-transform: uppercase;
  width: 200px;
  cursor: none;
}
#placeholder {
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:80px;
}
/*dice end*/
